{% extends "_layouts/body.html" %}
{% block content %}
<section id="skills" class="space-y-10" hx-ext="response-targets">
	<h3 class="text-primary text-3xl capitalize">Contact</h3>
	<h2 class="text-2xl lg:text-4xl">Let's work together!</h2>
	{% include "contact/form.html" %}
</section>
{% endblock %}
{% block jsonLd %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ContactPage",
  "mainEntity": {
    "@type": "Person",
    "name": "Jarlem Red de Peralta",
    "url": "/",
		"image": "/images/me.webp",
    "sameAs": [
      "https://github.com/lemredd",
      "https://linkedin.com/in/jarlemred",
			"https://app.daily.dev/lemredd"
    ],
    "jobTitle": "Full Stack Web Developer",
		"contactPoint": {
			"@type": "ContactPoint",
			"email": "jarlemdeperalta@proton.me",
			"contactType": "email"
		}
  }
}
</script>
{% endblock jsonLd %}
{% block script %}
<script src="/htmx-response-targets.js" defer></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
<script src="/turnstile.js" siteKey="{{ siteKey }}"></script>
{% endblock script %}
