<!DOCTYPE html> {# Base Layout #}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | Lemredd</title>
	<link rel="stylesheet" href="/tailwind.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="/inter.css" rel="stylesheet">
	{% for meta in metadata.meta %}
	<meta {{ meta.nameOrProperty }}="{{ meta.key }}" content="{{ meta.content }}">
	{% endfor %}
	{% for link in metadata.links %}
	<link rel="{{ link.rel }}" href="{{ link.href }}">
	{% endfor %}
	<script src="/htmx.min.js" defer></script>
	<script src="/pwa-registrator.js" defer></script>
</head>
<body class="flex flex-col max-w-[960px] xl:max-w-[1200px] mx-auto bg-bg text-fg font-inter">
	{% block body %}{% endblock %}
</body>
</html>
