{% extends "_layouts/body.html" %}

{% block content %}
<div class="space-y-40">
	<section id="portfolio" class="max-w-[768px] space-y-10">
		<h3 class="text-primary text-3xl capitalize">portfolio</h3>
		{# TODO: integrate GitHub API #}
		<h2 class="text-4xl capitalize">featured projects</h2>
		<ul class="grid gap-8 grid-cols-2 grid-rows-[300px_250px] mt-20">
			<li class="rounded-3xl col-span-full bg-zinc-900 p-4">
				<a href="#" class="w-full h-full block">
					foo
				</a>
			</li>
			<li class="rounded-3xl bg-zinc-900 p-4">
				<a href="#" class="w-full h-full block">foo</a>
			</li>
			<li class="rounded-3xl bg-zinc-900 p-4">
				<a href="#" class="w-full h-full block">foo</a>
			</li>
		</ul>
	</section>
	<section id="services" class="space-y-10">
		<h3 class="text-primary text-3xl capitalize">services</h3>
		<h4 class="text-4xl capitalize">my expertise and passion</h4>
		{# TODO: integrate GitHub API #}
		{% set services = {"full stack": 10, "UIs": 8, "APIs": 12} %}
		<ul class="flex justify-stretch items-center gap-x-8">
			{% for service, count in services %}
			<li class="w-full h-full">
					<a href="#" class="flex flex-col items-center basis-1/3 border border-fg-2 px-8 py-4 rounded-2xl hover:border-{{ color }}">
						<h4 class="text-2xl text-primary capitalize">{{ service }}</h4>
						<p class=" text-fg-2 w-max capitalize">{{count}} projects</p>
					</a>
				</li>
			{% endfor %}
		</ul>
	</section>
	<section id="skills" class="space-y-10">
		<h3 class="text-primary text-3xl capitalize">Skills</h3>
		<h4 class="text-4xl capitalize">What I use to get things done</h4>
		<div class="w-full max-w-[inherit] overflow-x-hidden h-[120px] relative before:absolute before:top-0 before:left-0 before:size-[120px] before:bg-gradient-to-r before:from-bg after:absolute after:top-0 after:right-0 after:size-[120px] after:bg-gradient-to-l after:to-bg">
			<div class="gap-x-[120px] h-[inherit] absolute flex animate-[scroll-rtl_120s_linear_infinite] hover:[animation-play-state:paused]">
				<img src="/static/images/skills/langs.svg" alt="languages" class="max-w-max">
			</div>
		</div>
		<div class="w-full max-w-[inherit] overflow-x-hidden h-[120px] relative">
			<div class="gap-x-[120px] h-[inherit] absolute flex animate-[scroll-ltr_50s_linear_infinite] hover:[animation-play-state:paused]">
				<img src="/static/images/skills/others.svg" alt="others" class="max-w-max">
			</div>
		</div>
	</section>
</div>
{% endblock %}
