---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout page_title="About">
	<h1 class="title">Who am I?</h1>

	<section class="biography">
		<h2>biography</h2>
		<p>
			My name is Jarlem Red de Peralta, born at Ilocos Norte on October 21, 2000. My first name was derived from my father's name "Raj", and mother's name "Mel" - both reversed. I speak Tagalog (my native language) and English. 
		</p>
	</section>
</BaseLayout>

<style>
.title {
	@apply my-5 text-2xl text-center;
}
</style>
