---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout page_title="Home">
	<div class="container">
		<h1 class="title">Welcome.</h1>
		<p class="description">I am Jarlem de Peralta, a front-end web developer and UX/UI designer. I use my skills to create impressive solutions that can be used on an everyday basis.</p>
		<div class="nicknames">
			<!-- TODO: add animations -->
			You may call me lem/red/lemredd/lemmy.
		</div>
		<a href="/about">more about me.</a>

		<h1 id="projects" class="title">Projects</h1>
	</div>
</BaseLayout>

<style>
/* Add class to a slotted element if you want to style it! */
.container {
	@apply
		mx-auto px-[1rem]
		sm:px-0
	;
}

.title {
	@apply my-5 text-2xl text-center;
}
</style>
