---
import BaseLayout from "@layouts/BaseLayout.astro";

import About from "@components/About.astro";

const projects = [
	{
		"id": 1,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 2,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 3,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 4,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 5,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 6,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 7,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 8,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
];
---

<BaseLayout page_title="Home">
	<section class="hero about-me" id="hero">
		<div class="container">
			<h3 class="greeting">Hello, I am Jarlem.</h3>
			<h1 class="roles">
				<!-- Make interchangeable -->
				Web Developer
				<span class="cursor"></span>
			</h1>
			<h4 class="welcome">Welcome to my website.</h4>
		</div>
	</section>

	<div class="container" id="sections-container">
		<section id="projects">
			<h2 class="section-heading">Projects</h2>
			<ul class="projects-container">
				{projects.map(({ id, name, description }) => (
					<li class={`project-item project-${id}`}>
						<div class="project-info">
							<h4>{name} #{id}</h4>
							<p>{description}</p>
						</div>
					</li>
				))}
			</ul>
			<a href="/projects">See all the things I've built</a>
		</section>

		<section id="about">
			<h2 class="section-heading">Who am I?</h2>
			<About />
		</section>
	</div>
</BaseLayout>

<style lang="scss">
@import "@styles/variables";

section {
	@apply pb-[2rem]
}

.container {
	@apply mx-auto px-[1.5rem] sm:px-0;
}

.hero {
	background-origin: border-box;
	background-position: center;
	background-size: cover;
	height: 100vh;

	.container {
		@apply
			h-[inherit]
			flex flex-col items-center justify-center gap-y-[1.5rem]
			text-center
		;
	}

	.greeting {
		@apply text-[length:var(--SITE-H5)];
	}

	.roles {
		@apply
			relative
			text-[length:var(--SITE-H4)] text-site-primary uppercase font-bold
		;
	}
	.roles .cursor {
		@apply
			absolute -right-1 top-0 bottom-0
			w-[.25rem]
			bg-site-primary
		;
	}
}

.section-heading {
	@apply my-8 text-[length:var(--SITE-H2)];
}

#projects, #about, #contact {

	padding-top: $header-height;

	.title {
		@apply text-center font-bold;
	}
}

.projects-container {
	@apply
		mb-[1rem]
		grid gap-[2rem] justify-center
		sm:grid-cols-3 sm:grid-rows-3
	;

	.project-item {
		$shadow: 0px 1.43668px 2.85018px 0px rgba(0, 0, 0, 0.10), 0px 3.34039px 6.62689px 0px rgba(0, 0, 0, 0.07), 0px 5.99856px 11.90037px 0px rgba(0, 0, 0, 0.06), 0px 9.95539px 19.7502px 0px rgba(0, 0, 0, 0.05);

		@apply
			rounded-[.25rem]
			w-[256px] h-[256px]
			flex flex-col justify-end
			dark:bg-site-footer-black
		;

		box-shadow: $shadow;
		text-align: center;
	}

	.project-info {
		@apply
			ml-4 mb-4
			text-left
		;
	}

	.project-1, .project-4, .project-5 {
		@apply sm:col-span-2;
	}
}
</style>
