---
import BaseLayout from "@layouts/BaseLayout.astro";

import About from "@components/About.astro";

const projects = [
	{
		"id": 1,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 2,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 3,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 4,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 5,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
	{
		"id": 6,
		"name": "Project",
		"description": "Project short description",
		"image": "sample.jpg"
	},
];
---

<BaseLayout page_title="Home">
	<div class="container">
		<section class="hero">
			<h1 class="name">Jarlem <span class="red">Red</span></h1>
			<h4 class="roles">Developer/Designer.</h4>
			<h4 class="welcome">Welcome to my website.</h4>
		</section>

		<section id="projects">
			<h2 class="section-heading">Projects</h2>
			<ul class="projects-container">
				{projects.map(({ id, name, description }) => (
					<li class={`project-item project-${id}`}>
						<div class="project-info">
							<h4>{name} #{id}</h4>
							<p>{description}</p>
						</div>
					</li>
				))}
			</ul>
			<a id="github-link" href="https://github.com/lemredd?tab=repositories">See all the things I've built</a>
		</section>

		<section id="about">
			<h2 class="section-heading">Who am I?</h2>
			<About />
		</section>
	</div>
</BaseLayout>

<style lang="scss">
@import "@styles/variables";

section:not(.hero) {
	@apply pb-[2rem]
}

.hero {
	@apply
		h-[inherit]
		flex flex-col items-center justify-center gap-y-2
		text-center
		lg:items-start
	;

	background-origin: border-box;
	background-position: center;
	background-size: cover;
	height: 100vh;

	.name {
		@apply
			relative
			text-[length:var(--SITE-H4)] font-bold
			md:font-semibold md:text-[length:var(--SITE-H2)] lg:text-[length:var(--SITE-H1)]
		;
	}
	.name .red {
		@apply text-site-primary;
	}

	.roles, .welcome {
		@apply text-[length:var(--SITE-H6)] md:text-[length:var(--SITE-H5)] lg:text-[length:var(--SITE-H4)];
	}
}

.section-heading {
	@apply my-8 text-[length:var(--SITE-H4)] md:text-[length:var(--SITE-H3)] lg:text-[length:var(--SITE-H2)];
}

#projects, #about, #contact {
	padding-top: $header-height;
}

.projects-container {
	@apply
		mb-[1rem]
		grid gap-[2rem]
		sm:grid-cols-2 sm:grid-rows-2
		lg:grid-cols-3 lg:grid-rows-3
	;

	.project-item {
		$shadow:
			0px 1.43668px 2.85018px 0px rgba(0, 0, 0, 0.10),
			0px 3.34039px 6.62689px 0px rgba(0, 0, 0, 0.07),
			0px 5.99856px 11.90037px 0px rgba(0, 0, 0, 0.06),
			0px 9.95539px 19.7502px 0px rgba(0, 0, 0, 0.05)
		;

		@apply
			rounded-[.25rem]
			w-full h-[256px]
			flex flex-col justify-end
			dark:bg-site-footer-black
			sm:w-[initial]
		;

		box-shadow: $shadow;
		text-align: center;
	}

	.project-info {
		@apply
			ml-4 mb-4
			text-left
			opacity-0
			transition-opacity duration-300
		;
	}
	.project-item:hover .project-info {
		@apply opacity-100;
	}

	.project-1, .project-4, .project-5 {
		@apply lg:col-span-2;
	}
}

#github-link {
	@apply inline-block mt-8;
}
</style>
