---
import BaseLayout from "@layouts/BaseLayout.astro";

import About from "@components/About.astro";
import EmailForm from "@components/EmailForm.astro";
---

<BaseLayout page_title="Home">
	<section class="hero about-me" id="hero">
		<div class="container">
			<h1 class="title">
				Hello, I'm
				<strong class="name">Jarlem Red</strong>
			</h1>
			<p class="nickname">
				but you can call me <strong>lem</strong>.
			</p>
			<a class="about-link" href="/#about">Get to know more about me.</a>
		</div>
	</section>

	<div class="container" id="sections-container">
		<section id="projects">
			<h1 class="title">Projects</h1>
			<ul class="projects-container">
				{[1,2,3,4,5,6].map(item => (
					<li class={`project-item project-${item}`}>project {item}</li>
				))}
			</ul>
			<a href="/projects">See all the things I've built</a>
		</section>

		<section id="about">
			<h1 class="title">Who am I?</h1>
			<About />
		</section>

		<section id="contact">
			<h1 class="title">Get in touch</h1>
			<EmailForm />
		</section>
	</div>
</BaseLayout>

<style lang="scss">
@import "@styles/variables";

section {
	@apply pb-[2rem]
}

.container {
	@apply mx-auto px-[1.5rem] sm:px-0;
}

.hero {
	@apply pt-20;
	background-image: linear-gradient(#000a, #000a), url("/src/assets/hero_portrait.jpg");
	background-origin: border-box;
	background-position: center;
	background-size: cover;
	height: 100vh;

	.container {
		@apply
			h-[inherit]
			flex flex-col items-center justify-center
			text-center text-white
		;
	}

	h1 .name {
		@apply block text-12 sm:text-16;
	}

	.nickname {
		@apply uppercase text-neutral-300;
	}

	.about-link {
		@apply mt-8;
	}
}

.title {
	@apply my-8 text-8 sm:text-12;
}

#projects, #about, #contact {

	padding-top: $header-height;

	.title {
		@apply text-center font-bold;
	}
}

.projects-container {
	@apply
		mb-[1rem]
		grid gap-[.5rem]
		sm:grid-cols-3 sm:grid-rows-3
	;

	.project-item {
		@apply rounded py-20 bg-neutral-200 dark:bg-dark-300;

		text-align: center;
	}

	.project-1, .project-4, .project-5 {
		@apply sm:col-span-2;
	}
}
</style>
