---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout page_title="Index">
	<h1 class="title">Hello, I am Jarlem!</h1>
	<p class="description">I am a front-end web developer and UX/UI designer. I use my skills to create impressive solutions that can be used on an everyday basis.</p>
</BaseLayout>

<style>
/* Add class to a slotted element if you want to style it! */
.title {
	@apply my-5 text-2xl text-center hover:bg-neutral-200;
}
</style>
