
---
import BaseLayout from "@layouts/BaseLayout.astro";

// TODO: Use real projects fetched from GitHub.
const projects = Array.from({ "length": 20 }, (_, idx) => idx);
---

<BaseLayout page_title="Projects">
	<!-- TODO: make `#page-heading` text interchange -->
	<h1 class="page-heading">Practice makes perfect.</h1>
</BaseLayout>

