
---
import BaseLayout from "@layouts/BaseLayout.astro";

// TODO: Use real projects fetched from GitHub.
const projects = Array.from({ "length": 20 }, (_, idx) => ({
	"id": idx,
	"img": "https://source.unsplash.com/random/1920x1080",
	"name": `Project #${idx}`,
	"description": "Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat."
}));
---

<BaseLayout page_title="Projects">
	<!-- TODO: make `#page-heading` text interchange -->
	<section class="page-heading">
		<h1>Practice makes perfect.</h1>
		<p>Here are the list of projects that I have accomplished during my entire career. Courtesy of GitHub API.</p>
	</section>

	<div class="search-bar">
	</div>

	<section class="projects">
		<ul class="projects-list">
			{projects.map(item => (
				<li class="project">{item}</li>
			))}
		</ul>
	</section>
</BaseLayout>

<style lang="scss">
.page-heading {
	@apply mb-[2rem];
}

.projects-list {
	@apply grid grid-rows-3 grid-cols-3 gap-[1rem];
	
	.project {
		@apply border border-neutral;
	}
}
</style>
