
---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout page_title="Projects">
	<!-- TODO: make `#page-heading` text interchange -->
	<h1 class="page-heading">Practice makes perfect.</h1>
</BaseLayout>

