---
interface Props {
	viewport: "mobile"|"desktop"
}

const { viewport = "mobile" } = Astro.props;
---

<script>
type ColorScheme = string|null

const dark_mode_checkboxes = document.querySelectorAll(".dark-mode-toggler") as NodeListOf<HTMLInputElement>;
const { "documentElement": root } = document;

const PREFERRED_COLOR_SCHEME_KEY = "preferred_color_scheme";
const preferred_color_scheme = (): ColorScheme => localStorage.getItem(PREFERRED_COLOR_SCHEME_KEY);

if (!preferred_color_scheme) {
	localStorage.setItem(PREFERRED_COLOR_SCHEME_KEY, "light");
} else if (preferred_color_scheme() === "dark") {
	dark_mode_checkboxes.forEach(checkbox => checkbox.checked = true);
	root.classList.add("dark");
}

const [checkbox_mobile, checkbox_desktop] = dark_mode_checkboxes;
function toggle_checkboxes_simultaneously(event: Event, counterpart: HTMLInputElement): void {
	const { checked } = event.target as HTMLInputElement;
	if (checked) localStorage.setItem(PREFERRED_COLOR_SCHEME_KEY, "dark");
	else localStorage.setItem(PREFERRED_COLOR_SCHEME_KEY, "light");

	counterpart!.checked = checked;
	root.classList.toggle("dark");
}

checkbox_mobile?.addEventListener("change", event => toggle_checkboxes_simultaneously(event, checkbox_desktop as HTMLInputElement));
checkbox_desktop?.addEventListener("change", event => toggle_checkboxes_simultaneously(event, checkbox_mobile as HTMLInputElement));
</script>

<input type="checkbox" id={`dark-mode-toggler-${viewport}`} class="dark-mode-toggler" hidden />
<label for={`dark-mode-toggler-${viewport}`} tabindex="0" class="dark-mode-toggler-icon">
	<div class="icon on i-material-symbols:dark-mode" />
	<div class="icon off i-material-symbols:light-mode" />
</label>

<style lang="scss">
.dark-mode-toggler-icon {
	@apply inline-flex;
	background-color: transparent !important;
}

.icon {
	@apply text-[1.75rem] transition-opacity;
	&.on {
		@apply opacity-0 pointer-events-none;
	}
}

.dark-mode-toggler:checked + .dark-mode-toggler-icon {
	.icon.on {
		@apply opacity-[1] pointer-events-auto delay-150;
	}

	.icon.off {
		display: none;
	}
}
</style>
