<script>
// TODO: refactor with svelte component
const email_form = document.getElementById("email-form") as HTMLFormElement;

email_form.addEventListener("submit", async event => {
	event.preventDefault();
	const form_data = new FormData(event.currentTarget as  HTMLFormElement);
	const response = await fetch("/email", { "method": "POST", "body": form_data });
	const data = await response.json() as { status: number };

	// TODO: display message on form
	alert(data.status === 200 ? "Email sent successfully!" : "Something went wrong...");
});
</script>

<form id="email-form" method="POST">
	<!-- TODO: add placeholder to input fields -->
	<input type="email" name="email" required />
	<textarea name="message" id="" cols="30" rows="10" required></textarea>
	<small>Or send an email at <a href="mailto:jarlemdeperalta@gmail.com">jarlemdeperalta@gmail.com</a></small>
	<button type="submit" id="submit-email-btn">Send</button>
</form>

<style lang="scss">
#email-form {
	@apply flex flex-col gap-y-2 items-start;

	& > *:not(small) {
		@apply
			rounded
			bg-neutral-200 dark:bg-dark-300
		;
	}

	input, textarea {
		@apply px-4 py-2 w-full;
	}

	button {
		@apply px-4 py-2 bg-neutral-200;
	}
}
</style>
