<footer>
	<p class="made-with">
		Made with 💖 + + 
	</p>

	<ul class="plugs">
		<span class="mdi mdi-linkedin"></span>
		<span class="mdi mdi-github"></span>
		<span class="mdi mdi-email"></span>
	</ul>
</footer>

<style lang="scss">
@import "https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css";

footer {
	@apply
		w-[100%]
		
		flex
	;
}
</style>
