<footer>
	<p class="made-with">
		<span>Made with 💖 + </span><span class="i-simple-icons-svelte"></span> + <span class="i-simple-icons-astro"></span>
	</p>
	<p class="license">Published under GPL License</p>

	<ul class="plugs">
		<span class="i-simple-icons-linkedin"></span>
		<span class="i-simple-icons-github"></span>
		<span class="i-simple-icons-gmail"></span>
	</ul>
</footer>

<style lang="scss">
footer {
	@apply
		w-[100%]
		py-8
		
		grid justify-center
		bg-site-black bg-opacity-10
		text-center
		dark:bg-site-footer-black
		dark:bg-opacity-100
	;
}

.made-with i, .plugs {
	@apply text-6;
}

.license {
	@apply mt-4 text-3;
}

.plugs {
	@apply mt-8 flex justify-center gap-4;
}
</style>
