---
import Nav from "@components/Nav.astro";
---

<header>
	<div class="container">
		<Nav />
	</div>
</header>

<style lang="scss">
header {
	@apply
		bg-gradient-to-b
		from-30% from-site-white
		dark:from-30% dark:from-site-black
	;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}

.container {
	@apply h-full flex items-center justify-start sm:justify-center;
}
</style>
