---
import Nav from "@components/Nav.astro";
---

<header>
	<div class="logo">
		<h1><a href="/">lemredd</a></h1>
	</div>
	<Nav />
</header>

<style lang="scss">
header {
	@apply mx-[1rem] flex justify-between;
}
</style>
