---
import Nav from "@components/Nav.astro";
---

<header>
	<div class="container">
		<div class="logo">
			<h1><a href="/">lemredd</a></h1>
		</div>
		<Nav />
	</div>
</header>

<style lang="scss">
header {
	@apply px-[1.5rem] bg-white dark:bg-dark;

	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}
.container {
	@apply mx-auto h-full flex items-center justify-between;
}
</style>
