<nav class="mobile">
	<input type="checkbox" id="toggler" hidden />
	<label for="toggler" class="toggler-icon">
		<div class="i-material-symbols:menu" />
	</label>
	<label for="toggler" class="menu-backdrop" />
	<ul class="menu">
		<li><a href="/#projects">Projects</a></li>
		<li><a href="/about">about</a></li>
		<li><a href="/blog">blog</a></li>
	</ul>
</nav>
<nav class="desktop">
	<a href="/#projects">Projects</a>
	<a href="/about">about</a>
	<a href="/blog">blog</a>
</nav>

<style lang="scss">
nav.desktop {
	display: none;
}

nav.mobile {
	.menu, .menu-backdrop {
		position: fixed;
		pointer-events: none;
		opacity: 0;
		transition: opacity 300ms ease;
	}
	.menu {
		@apply flex flex-col items-center justify-center;

		inset: 50%;
		z-index: 999;

		li {
			@apply my-4;
		}
	}
	.menu-backdrop {
		@apply bg-white bg-opacity-90;
		inset: 0;
	}

	#toggler:checked {
		& ~ .menu {
			opacity: 1;
			pointer-events: auto;
		}

		& ~ .menu-backdrop {
			opacity: 1;
			pointer-events: initial;
		}
	}

	.toggler-icon {
		@apply text-2xl;
		cursor: pointer;
	}
}

nav.desktop a:not(:first-of-type) {
	@apply ml-[1.5rem];
}

@media screen and (min-width: 640px) {
	nav.mobile {
		display: none;
	}

	nav.desktop {
		display: block;
	}
}
</style>
