---
import DarkModeToggler from "@components/DarkModeToggler.astro";

const links = {
	"/#projects": "projects",
	"/about": "about",
	"/blog": "blog",
	"/contact": "contact"
};
---

<nav class="mobile">
	<input type="checkbox" id="toggler" hidden />
	<label for="toggler" class="toggler-icon">
		<div class="i-material-symbols:menu" />
	</label>
	<label for="toggler" class="menu-backdrop" />

	<ul class="menu">
		{Object.keys(links).map(link => <li><a href={link}>{links[link]}</a></li>)}
		<li class="appearance">
			Appearance
			<DarkModeToggler />
		</li>
	</ul>
</nav>
<nav class="desktop">
	{Object.keys(links).map(link => <a href={link}>{links[link]}</a>)}
</nav>

<style lang="scss">
nav.desktop {
	display: none;
	text-transform: uppercase;
}

nav.mobile {
	.menu, .menu-backdrop {
		position: fixed;
		pointer-events: none;
		opacity: 0;
		transition: opacity 300ms ease;
		z-index: 999;
	}
	.menu {
		@apply flex flex-col justify-center uppercase;

		inset: 50%;
		z-index: 999;

		li {
			@apply my-4;
		}
	}
	.menu-backdrop {
		@apply
			bg-white bg-opacity-90
			dark:bg-dark dark:bg-opacity-90
		;
		inset: 0;
	}

	#toggler:checked {
		& ~ .menu {
			opacity: 1;
			pointer-events: auto;
		}

		& ~ .menu-backdrop {
			opacity: 1;
			pointer-events: initial;
		}
	}

	.toggler-icon {
		@apply text-2xl;
		cursor: pointer;
	}
}

nav.desktop a:not(:first-of-type) {
	@apply ml-[1.5rem];
}

@media screen and (min-width: 640px) {
	nav.mobile {
		display: none;
	}

	nav.desktop {
		display: block;
	}
}
</style>
