<nav class="mobile">
	<input type="checkbox" id="toggler" hidden />
	<label for="toggler">
		Hamburger
	</label>
	<ul class="menu">
		<li><a href="/about">about</a></li>
		<li><a href="/blog">blog</a></li>
	</ul>
</nav>
<nav class="desktop">
	<a href="/about">about</a>
	<a href="/blog">blog</a>
</nav>

<style lang="scss">
.menu, nav.desktop {
	display: none;
}

nav.mobile {
	.menu {
		position: fixed;
		right: 0;
	}

	#toggler:checked ~ .menu {
		display: block;
	}
}

nav.desktop a:not(:first-of-type) {
	@apply ml-[1.5rem];
}

@media screen and (min-width: 640px) {
	nav.mobile {
		display: none;
	}

	nav.desktop {
		display: block;
	}
}
</style>
