---
import DarkModeToggler from "@components/DarkModeToggler.svelte";

const links: Record<string, string> = {
	"/#projects": "projects",
	"/#about": "about",
	"/#contact": "contact",
};
---

<script>
const mobile_links = document.querySelectorAll(".menu li a") as NodeListOf<HTMLAnchorElement>;
const toggler = document.getElementById("toggler") as HTMLInputElement;
mobile_links.forEach(
	link => link.addEventListener("mouseup", () => toggler.checked = !toggler.checked)
);
</script>

<nav class="mobile">
	<input type="checkbox" id="toggler" hidden />
	<label for="toggler" class="toggler-icon">
		<span class="material-icons">
			menu
		</span>
	</label>
	<label for="toggler" class="menu-backdrop" />

	<ul class="menu">
		<!-- TODO: make links close menu -->
		{Object.keys(links).map(link => <li><a href={link}>{links[link]}</a></li>)}
		<hr />
		<label for="dark-mode-toggler-mobile" class="appearance">
			<span>Appearance</span>
			<DarkModeToggler viewport="mobile" client:only />
		</label>
	</ul>
</nav>
<nav class="desktop">
	{Object.keys(links).map(link => <a href={link}>{links[link]}</a>)}
	<DarkModeToggler viewport="desktop" client:only />
</nav>

<style lang="scss">
nav.desktop {
	@apply hidden relative uppercase;
}

nav.mobile {
	.menu, .menu-backdrop {
		position: fixed;
		pointer-events: none;
		opacity: 0;
		transition: opacity 300ms ease;
		z-index: 999;
	}
	.menu {
		@apply
			flex flex-col justify-center
			uppercase
			text-neutral-600 dark:text-white;
		;

		inset: 50% 10%;
		transform: translateY(-50%);
		z-index: 999;

		li, hr {
			@apply my-4;
		}

		hr {
			@apply border-t-neutral;
		}
		.appearance {
			@apply
				mt-4
				border border-neutral rounded
				px-4 py-2.5
				flex items-center justify-between
				dark:color-white dark:bg-neutral-800
				capitalize text-sm
			;
		}
	}
	.menu-backdrop {
		@apply
			bg-white bg-opacity-95
			dark:bg-dark dark:bg-opacity-95
		;
		inset: 0;
	}

	#toggler:checked {
		& ~ .menu {
			opacity: 1;
			pointer-events: auto;
		}

		& ~ .menu-backdrop {
			opacity: 1;
			pointer-events: initial;
		}
	}

	.toggler-icon {
		cursor: pointer;
	}
}

@media screen and (min-width: 640px) {
	nav.mobile {
		display: none;
	}

	nav.desktop {
		@apply flex gap-x-[1.5rem];
	}
}
</style>
