{# Header Navigation Component #}
{% set navs = ["about", "work", "contact"] %}
<header hx-boost="true" class="z-20 sticky top-0 bg-gradient-to-b from-bg via-bg via-40%">
	<nav>
		<ul class="flex justify-center  gap-x-4 py-8">
		{% for nav in navs %}
			<li>
				<a
					href="/{{ nav }}"
					class="capitalize text-lg rounded px-2 py-1 [&[aria-current=page]]:font-bold [&[aria-current=page]]:text-primary"
					{% if request.url.includes(nav) or (request.url.endsWith("/") and ["home", "about"].includes(nav)) %}aria-current="page"{% endif %}{# request is not deeply cloned (request.url.pathname is not accessible) #}
				>{{ nav }}</a>
			</li>
		{% endfor %}
		</ul>
	</nav>
</header>
