---
import Header from "@components/Header.astro";

const { page_title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{page_title}</title>
	</head>
	<body>
		<Header>
			<input type="checkbox" id="dark-mode-toggler" hidden>
			<label for="dark-mode-toggler" tabindex="0" class="dark-mode-toggler-icon">Dark Mode</label>
		</Header>

		<main class="content">
			<h1>{page_title}</h1>
			<slot />
		</main>
	</body>
</html>

<style lang="scss">
$header-height: 64px;

:global(header) {
	height: $header-height;
}

body > :global(*) {
	$bg: #fff;
	$text: #000;

	color: $text;
	background-color: $bg;
}

.content {
	margin-top: $header-height;
}
</style>
