---
import Header from "@components/Header.astro";
import DarkModeToggler from "@components/DarkModeToggler.astro";

const { page_title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{page_title}</title>
	</head>
	<body>
		<DarkModeToggler />
		<Header />

		<main class="content">
			<div class="container">
				<slot />
			</div>
		</main>
	</body>
</html>

<style lang="scss">
$header-height: 64px;

:global(header) {
	height: $header-height;
}

body {
	@apply bg-white color-neutral-600;

	transition:
		color 300ms ease,
		background-color 300ms ease;
	
	&.dark {
		@apply bg-dark color-white;
	}
}

.content {
	margin-top: $header-height;
	height: calc(100% - $header-height);

	.container {
		@apply mx-auto px-[1.5rem] sm:px-0;
	}
}
</style>
