---
import Header from "@components/Header.astro";

const { page_title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{page_title}</title>
	</head>
	<body>
		<Header />

		<main class="content">
			<div class="container">
				<slot />
			</div>
		</main>

		<script is:inline>
			const PREFERRED_COLOR_SCHEME_KEY = "preferred_color_scheme";
			let preferred_color_scheme = localStorage.getItem(PREFERRED_COLOR_SCHEME_KEY);

			if (preferred_color_scheme === "dark") document.documentElement.classList.add("dark");
		</script>
	</body>
</html>

<style lang="scss">
$header-height: 64px;

:global(header) {
	height: $header-height;
}

:root {
	@apply bg-white color-neutral-600;

	&.dark {
		@apply bg-dark color-white;
	}
}

.content {
	margin-top: $header-height;
	height: calc(100% - $header-height);

	.container {
		@apply mx-auto px-[1.5rem] sm:px-0;
	}
}
</style>
