---
import Header from "@components/Header.astro";

const { page_title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{page_title}</title>
		<link rel="stylesheet" href="/fonts.css">
	</head>
	<body>
		<Header />

		<main class="content">
			<slot />
		</main>

		<script is:inline>
			const PREFERRED_COLOR_SCHEME_KEY = "preferred_color_scheme";
			let preferred_color_scheme = localStorage.getItem(PREFERRED_COLOR_SCHEME_KEY);

			if (preferred_color_scheme === "dark") document.documentElement.classList.add("dark");
		</script>
	</body>
</html>

<style lang="scss">
@import "@styles/variables";

:global(header) {
	height: $header-height;
}

:root {
	@apply bg-site-white color-site-black scroll-smooth font-body;

	&.dark {
		@apply bg-site-black color-site-white;
	}

	@for $i from 1 through 6 {
		:global(h#{$i}) { @apply font-heading; }
	}
}

.content {
	height: calc(100% - $header-height);

	:global(a) {
		text-decoration-line: underline;
	}
}
</style>
