---
import Header from "@components/Header.astro";
const { page_title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{page_title}</title>
	</head>
	<body>
		<Header />

		<div class="container">
			<h1>{page_title}</h1>
			<slot />
		</div>
	</body>
</html>

<style lang="scss">
$header-height: 64px;
:global(header) {
	height: $header-height;
}
.container {
	@apply mx-auto;
	margin-top: $header-height;
}
</style>
